body {
	font-family: 'Helvetica',sans-serif;
	color: #4d4d4d;
}

aside {
	width: 126px;
	border-right: 1px solid #eee;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

aside li {
	list-style-type: none;
	text-align: right;
	color: #acacac;
	padding-right: 20px;
	padding-bottom: 12px;
}

aside img {
	width: 45px;
	margin: 0px auto;
	padding-left: 55px;
	padding-top: 30px;

}

section {
	position: absolute;
	left: 126px;
}

#title {
	color: #000;
	font-family: 'Helvetica',sans-serif;
}

.content {

}

.article-title {
	color: #000;
	font-size: 36px;
	font-family: 'Helvetica',sans-serif;
}

#author {
	color: #327CCB;
	font-size: 10px;
}

#article {

}

#primary {
	margin: 15px;
}

#secondary {

}

@media screen and (min-width: 600px) {
	
}